button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #fb00d5;
  background-color: #333333;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 60px;
}

.button_container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}